@using Abacus.Models

@{
    ViewBag.Title = "Περιφερειακές";
    Layout = "~/Views/Shared/_StationLayout.cshtml";
}

<style>

    .k-grid {
        font-size: 11px;
    }

</style>

    @Html.AntiForgeryToken()
    <div class="page-header" style="margin:5px 20px 5px 20px">
        <span style="margin:5px 20px 5px 0px;font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #000000">
            <font style="color:#494949;font-family:'Segoe UI'">Περιφερειακές Διευθύνσεις</font>
        </span>
        <span style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Station", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
        <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>

    <div class="body-content" style="margin:10px 20px 5px 20px">

        @(Html.Kendo().Grid<SysPeriferiakiViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(m => m.ΕΠΩΝΥΜΙΑ_ΠΕΡΙΦΕΡΕΙΑ).Width(40);
            columns.Bound(m => m.ΤΑΧ_ΔΙΕΥΘΥΝΣΗ).Width(40);
            columns.Bound(m => m.EMAIL).Width(24);
            columns.Bound(m => m.ΕΔΡΑ).Width(20).Filterable(false);
            columns.Bound(m => m.ΤΜΗΜΑ).Width(20).Filterable(false);
        })
        .HtmlAttributes(new { style = "display:block;font-size:13px" })        
        .Navigatable()
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(400))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.ΚΩΔΙΚΟΣ_ΠΕΡΙΦΕΡΕΙΑ);
        })
        .Read(read => read.Action("Periferiaki_Read", "Station"))
        .Events(events => events.Error("error_handler"))

        ) @* datasource*@
        )

    </div>

<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
        }
        $("#Grid").data("kendoGrid").dataSource.read();
    }

</script>
