@{
    ViewBag.Title = "Αρχική-Abacus";
    string currentYear = DateTime.Today.Year.ToString();
}


@section footer {
<div class="body-content" style="margin:10px 30px 5px 30px;">
    <table width:100%>
        <tr>
            <td width="5%" align="left"><img src="~/images/metro/dypa-logo.png" height="60" width="74" /></td>
            <td align="center">
                <font color="#000000" size="3" style="font-weight:600">ΑΥΤΟΤΕΛΕΣ ΤΜΗΜΑ ΒΡΕΦΟΝΗΠΙΑΚΩΝ ΣΤΑΘΜΩΝ</font>
            </td>
        </tr>
        <tr>
            <td width="5%" align="left"></td>
            <td align="center">
                <font color="#000000" size="2">Μελέτη-Ανάπτυξη: Δρ. Γεώργιος Κυριακάκης</font>
            </td>
        </tr>
        <tr>
            <td width="5%" align="left"></td>
            <td align="center">
                <font color="#000000" size="2">Συνεργασία: Αγγελική Αργυροπούλου, Βρεφονηπιακοί Σταθμοί ΔΥΠΑ</font>
            </td>
        </tr>
    </table>
</div>

}


<style>
    .rcorners {
        border-radius: 8px;
        background: lightgray;
        padding: 20px;
        width: 200px;
        height: 190px;
    }

    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }

    .button {
        background-color: #3f6ea6;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 2px 2px;
        min-width: 160px;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .button:hover {
        background-color: #2a496f;
        color: white;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 20px;
        color: white;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
        color: white;
    }

    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }

    a:active {
        color: white;
        background-color: transparent;
        text-decoration: none;
    }
</style>

<head>
    <title></title>
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
</head>

<div class="row">
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Καλώς ήλθατε</h1>
    <label style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:16px;font-weight:normal">
        Φυσικό Αντικείμενο Βρεφονηπιακών Σταθμών Δ.ΥΠ.Α. (2019-@currentYear)
    </label>
    @(Html.Kendo().PanelBar()
        .Name("IntroPanelBar")
        .Items(items =>
        {
        items.Add()
        .Text("Είσοδος")
        .Selected(true)
        .Expanded(true)
        .Content(@<text>
        <div id="page">
            <div class="suites">
                <div class="suite-column" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-right:40px">
                    <table class="rcorners">
                        <tr>
                            <td>
                                <h4 style="color:black">Είσοδος<br />σταθμών</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button" style="vertical-align:middle;float:none;font-family:'Segoe UI';">
                                    <span>@Html.ActionLink("Είσοδος", "Login", "USER_STATIONS", null, new { style = "width:160px" })</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="suite-column" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-right:20px">
                    <table class="rcorners">
                        <tr>
                            <td>
                                <h4 style="color:black">Είσοδος<br />διαχειριστών</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="button" style="vertical-align:middle;float:none;font-family:'Segoe UI';">
                                    <span>@Html.ActionLink("Είσοδος", "Login", "USER_ADMINS", null, new { style = "width:160px" })</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </text>);       
        items.Add()
        .Text("Σχετικά με την εφαρμογή")
        .Content(
        @<text>              
        <!-- Tabtrip section -->
        <div style="margin-left:6px;margin-right:6px">
            <p></p>
            <p class="sansserif" style="margin-bottom:10px">
                Ως φυσικό αντικείμενο νοείται οποιαδήποτε διαδικασία που έχει να κάνει με τα βρεφονήπια και προσωπικό των Β.Ν.Σ.<br />
                Περιλαμβάνονται σε αυτό και οι δαπάνες που γίνονται για τη λειτουργία του κάθε βρεφονηπιακού σταθμού.
            </p>
            <p class="sansserif">
                Στόχοι της εφαρμογής είναι:
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.1.png" width="40" height="40" />
                Δημιουργία μητρώου βρεφονηπίων και προσωπικού για κάθε σχολικό έτος
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.2.png" width="40" height="40" />
                Ηλεκτρονικό αρχείο παρουσιολογίων βρεφονηπίων.
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.3.png" width="40" height="40" />
                Ηλεκτρονικό αρχείο δαπανών τροφείου, καθαριότητας και γενικών/έκτακτων δαπανών.
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.4.png" width="40" height="40" />
                Η εξαγωγή στατιστικών στοιχείων που χρειάζεται η Διεύθυνση Α2 και το γραφείο Διοίκησης.
            </p>
            <p class="sansserif">
                <img src="~/Images/phone/appbar.card.5.png" width="40" height="40" />
                Η online διαθεσιμότητα στην Α2, των παραπάνω στοιχείων, με αποτέλεσμα τη μείωση της γραφειοκρατίας και διακίνησης εγγράφων.
            </p>
            <p></p>
        </div>
        <!-- End of Tabstrip -->
        </text>);
        items.Add()
        .Text("Καταχωρήσεις σταθμών")
        .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">

            <p class="sansserif"></p>
            <p class="sansserif" style="font-size:medium">
                <span>
                    <font style="font-family:'Segoe UI';font-size:medium">
                        Οι βασικές καταχωρήσεις που πρέπει να γίνονται από τους βρεφονηπιακούς σταθμούς είναι:
                    </font>
                </span>
                <br />
            </p>
            <p class="sansserif">
                <img src="~/Images/metro/orderedList1.png" width="28" height="28" />
                Στοιχεία βρεφονηπίων και προσωπικού του σταθμού
            </p>
            <p class="sansserif">
                <img src="~/Images/metro/orderedList2.png" width="28" height="28" />
                Ωρολόγιο πρόγραμμα προσωπικού
            </p>
            <p class="sansserif">
                <img src="~/Images/metro/orderedList3.png" width="28" height="28" />
                Παρουσιολόγια βρεφονηπίων
            </p>
            <p class="sansserif">
                <img src="~/Images/metro/orderedList4.png" width="28" height="28" />
                Ημερήσεις δαπάνες τροφείου, καθαριότητας και γενικές ή έκτακτες δαπάνες
            </p>
            <p />
            <p class="sansserif" style="font-weight:bold;font-style:italic;font-size:14px">
                ΣΗΜΕΙΩΣΗ
            </p>
            <p class="sansserif" style="font-weight:bold;font-style:italic;font-size:13px">
                <font>
                    Κάθε ΒΝΣ έχει ένα ξεχωριστό λογαριασμό στην εφαρμογή αυτή με συνέπεια να λειτουργεί την εφαρμογή
                    χωρίς πρόσβαση στα δεδομένα άλλων βρεφονηπιακών σταθμών.
                </font>
            </p>
        </div>
        </text>);
        items.Add()
        .Text("Ανακοινώσεις")
        .Content(@<text>
        <div style="margin-left:6px;margin-right:6px">
            <p></p>
            <p class="sansserif" style="margin-bottom:10px">
                <img src="~/Images/phone/appbar.card.png" width="48" height="48" />
                Η εφαρμογή αυτή έχει δοκιμαστεί στους περιηγητές (browsers)

                <ul style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                    <li style="margin-bottom:10px">
                        Google Chrome, Internet Explorer, Mozilla Firefox και Microsoft Edge.
                    </li>
                    <li style="margin-bottom:10px">
                        Η διεπαφή της εφαρμογής είναι βελτιστοποιημένη για τον περιηγητή Google Chrome και είναι
                        βέλτιστη για ανάλυση οθόνης τουλάχιστον 1280 x 1024.
                    </li>
                    <li style="margin-bottom:10px">
                        Για τη βέλτιστη εμφάνιση συνιστάται μεγιστοπόίηση του παραθύρου του περιηγητή, ειδικά για μικρές οθόνες.
                    </li>
                </ul>
            </p>
        </div>
        </text>);
        })
    )


</div>