
@{
    ViewBag.Title = "Αρχική διαχειριστή";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    p.serif {
        font-family: "Times New Roman", Times, serif;
        font-size: medium;
    }

    p.sansserif {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>


<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 40px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add().Text("ΟΔΗΓΙΕΣ 1 (Αρχικές εργασίες)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Α) Τμήματα του βρεφονηπιακού σταθμού
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Καταχώρηση τμημάτων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η πρώτη εργασία που πρέπει να γίνει είναι να καταχωρηθούν τα τμήματα βρεφονηπίων του σταθμού.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Στο πλέγμα τμημάτων πατάμε "Νέα εγγραφή". Επιλέγουμε τιμές στις στήλες "Σχολικό έτος" , "Ηλικιακή κατηγορία", και έναν αύξοντα αριθμό.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Προαιρετικά, πληκτρολογούμε κάποιο χαρακτηρισμό, και πατάμε "Ενημέρωση" για αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    Η ονομασία του τμήματος δημιουργείται αυτόματα από την εφαρμογή.
                                </li>
                                <li style="margin-bottom:10px;">
                                    Επαναλαμβάνουμε τα βήματα (1), (2) για κάθε τμήμα που έχει ο σταθμός.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Β) Στοιχεία και εγγραφές βρεφονηπίων
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Καταχώρηση παιδιών και εγγραφών σε τμήματα:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα αυτή έχει δύο πλέγματα. Στο άνω πλέγμα καταχωρούνται τα βασικά στοιχεία των παιδιών και στο κάτω πλέγμα οι εγγραφές<br />
                                    του κάθε παιδιού στα αντίστοιχα τμήματα.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Στο άνω πλέγμα πατάμες "Νέα εγγραφή" καταχωρούμε τιμές στις στήλες (Αρ. μητρώου, Επώνυμο, Όνομα).
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Πατάμε το κουμπί "Ενημέρωση" για αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα βήματα (1), (2) για κάθε παιδί του σταθμού.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Στη συνέχεια, επιλέγουμε ένα παιδί, με κλικ στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Στο κάτω πλέγμα επιλέγουμε το τμήμα στο οποίο εγγράφεται και αποθηκεύουμε.
                                </li>
                                <li style="margin-bottom:10px">
                                    (5) Επαναλαμβάνουμε τα βήματα (3), (4) για κάθε παιδί του σταθμού.
                                </li>
                                <li style="margin-bottom:10px">
                                    (6) Για καταχώρηση των υπόλοιπων προσωπικών στοιχείων ενός βρεφονηπίου, πατάμε το κουμπί "Καρτέλα" στην αντίστοιχη γραμμή.<br />
                                    Πολλά από τα πεδία στην καρτέλα είναι υποχρεωτικά. Αν μείνει κάποιο κενό, εμφανίζεται μήνυμα σφάλματος και ακυρώνεται η αποθήκευση.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Γ) Στοιχεία προσωπικού
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Καταχώρηση προσωπικού:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Στοιχεία προσωπικού" καταχωρούμε όλους τους εργαζόμενους στο σταθμό.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Πατάμε "Νέα εγγραφή" πληκτρολογούμε τιμές στις στήλες (Αρ. μητρώου, Επώνυμο, Όνομα, Κατηγορία προσωπικού)
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Πατάμε "Ενημέρωση" για αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    Κάνουμε τα βήματα (1), (2) για κάθε εργαζόμενο.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να καταχωρήσουμε τα υπόλοιπα στοιχεία των εργαζόμενων πατάμε το κουμπί "Καρτέλα" στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στο κάτω πλέγμα μπορούμε να καταχωρήσουμε ένα-ένα τα τμήματα στα οποία είναι υπεύθυνος ένας παιδαγωγός. Η επιλογή του παιδαγωγού<br />
                                    γίνεται με κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-left:20px;font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:14px;font-style:italic;font-weight:bold">
                                    ΣΗΜΕΙΩΣΗ: Ειδικά για την κατηγορία προσωπικού "ΑΣΚΟΥΜΕΝΟΣ" επιτρέπεται να βάλουμε τιμή μηδενική στον αρ. μητρώου.<br />
                                    Επίσης, όταν δεν γνωρίζουμε το βαθμό ενός υπαλλήλου (π.χ. έκτακτοι), επιλέγουμε "Χ" από τη λίστα του πεδίου "Βαθμός", στην καρτέλα του.
                                </font>
                            </span>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 2 (Αναθέσεις παιδαγωγών)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Αναθέσεις τμημάτων στους παιδαγωγούς
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Τρόπος καταχώρησης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή υπάρχει, στο άνω μέρος, το πλέγμα με τα τμήματα παιδιών του σταθμού.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Στο πλέγμα αυτό επιλέγουμε ένα τμήμα με κλικ στην αντίστοιχη γραμμή του πλέγματος (εμφανίζεται χρωματισμένη).
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Στο κάτω πλέγμα πατάμε "Νέα Εγγραφή". Εμφανίζεται τότε μια κενή γραμμή πάνω από τις τυχόν υπάρχουσες γραμμές του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Από το πτυσσόμενο πλαίσιο υπαλλήλων του σταθμού της στήλης "Παιδαγωγός", επιλέγουμε το κατάλληλο όνομα.
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Πατάμε το κουμπί "Ενημέρωση" για αποθήκευση των δεδομένων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα βήματα (2) και (3) εάν για το επιλεγμένο τμήμα υπάρχουν και άλλοι παιδαγωγοί.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε όλα τα παραπάνω βήματα και για τα υπόλοιπα τμήματα του σταθμού.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Επεξεργασία, διαγραφή ανάθεσης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Εάν διαπιστώσουμε ότι έχουμε κάνει κάποιο λάθος στα δεδομένα μιας γραμμής, πατάμε το κουμπί "Επεξεργασία" στην αντίστοιχη γραμμή
                                    του πλέγματος. Μπορούμε τότε, να αλλάξουμε τα όνομα της στήλης "Παιδαγωγός". Αφού γίνουν οι αλλαγές πατάμε "Ενημέρωση" για αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για να διαγράψουμε μια ανάθεση, αρκεί να πατήσουμε το κουμπί "Διαγραφή" στην αντίστοιχη γραμμή του κάτω πλέγματος.
                                </li>
                            </ul>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 3 (Ωρολόγιο πρόγραμμα)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Ωρολόγιο πρόγραμμα προσωπικού
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Τρόπος καταχώρησης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή υπάρχει, στο άνω μέρος, η γκρίζα γραμμή ημερομηνίας με τα καουμπιά βοηθητικών λειτουργιών.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Από το πτυσσόμενο πλαίσιο ημεομηνιών επιλέγουμε την επιθυμητή ημερομηνία ή την πληκτρολογούμε.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Πατάμε το κουμπί "Φόρτωση προσωπικού" που βρίσκεται δεξιά στη γραμμή. Με αυτό τον τρόπο εισάγονται<br />
                                    όλοι οι υπάλληλοι του σταθμού ΄με τις ώρες προσέλευσης και αποχώρησης σε προεπιλεγμένες τιμές.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Διαγράφουμε από τη λίστα ονομάτων τους απόντες. Αυτό γίνεται με το κουμπί "Διαγραφή" και μετά οπωσδήποτε<br />
                                    πατάμε "Αποθήκευση αλλαγών"
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Διορθώνουμε, όπου χρειάζεται τις ώρες προσέλευσης ή/και αποχώρησης με κατευθείαν πληκτρολόγηση στα αντίστοιχα κελιά
                                    του πλέγματος.<br />
                                </li>
                                <li style="margin-bottom:10px">
                                    (5) Μετά την επεξεργασία ενός ή περισσοτέρων κελιών πατάμε οπωδήποτε "Αποθήκευση αλλαγών".
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε όλα τα παραπάνω βήματα για άλλες ημερομηνίες.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Βοηθητικές λειτουργίες:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Για να μη χρειάζεται να επαναλάβουμε όλα τα προηγούμενα βήματα για κάθε ημερομηνία, υπάρχουν δύο βοηθητικές λειτουργίες:
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Αντιγραφή ημέρας. Αντιγράφει τη λίστα της επιλεγμένης ημερομηνίας, όπως την έχουμε αποθηκεύσει, στην αμέσως επόμενη ημέρα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Από την αντιγραφή εξαιρούνται ημερομηνίες Σαββατοκύριακων.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Αντιγραφή εβδομάδας. Αντιγράφει τις λίστες παρουσιολόγιων της τελευταίας καταχωρημένης εβδομάδας στην αμέσως επόμενη.
                                </li>
                                <li style="margin-bottom:10px">
                                    Έχει σημασία να γνωρίζουμε μέχρι ποια ημερομηνία έχουν καταχωρηθεί παρουσιολόγια ώστε να ξέρουμε σε ποια εβδομάδα προορισμού
                                    θα γίνει η αντιγραφή.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Για να ελέγξουμε αν ένα ωρολόγιο πρόγραμμα είναι σωστά καταχωρημένο, επιλέγουμε από κεντρικό μενού "Έλεγχος προγράμματος+".
                                </li>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή, μπορούμε να δούμε το πρόγραμμα μεταξύ δύο ημερομηνιών ή/και να επεξεργαστούμε τα δεδομένα.
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Κάτω από το πλέγμα του προγράμματος υπάρχει η γραμμή διαγραφής ώστε να διαγράψουμε εύκολα το πρόγραμμα μεταξύ δύο επιλεγμένων<br />
                                    ημερομηνιών, σε περίπτωση π.χ. που διαπιστώσουμε ότι είναι λανθασμένα καταχωρημένο.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-left:20px;font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:14px;font-style:italic;font-weight:bold">
                                    ΣΗΜΕΙΩΣΗ: Έχει σημασία να είναι το ωρολόγιο πρόγραμμα ορθά καταχωρημένο, διότι από αυτό υπολογίζεται το πλήθος σιτιζόμενου<br />
                                    προσωπικού στις δαπάνες τροφείου.
                                </font>
                            </span>
                        </p>
                        <br />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 4 (Παρουσίες βρεφονηπίων)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Παρουσίες βρεφονηπίων
                                </font>
                            </span>
                            <br />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Τρόπος καταχώρησης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή υπάρχει, στο άνω μέρος, πλέγμα με τα τμήματα του σταθμού και στο κέντρο η γραμμή ημερομηνιών.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Από το πάνω πλέγμα επιλέγουμε ένα τμήμα με κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Στη γραμμή ημερομηνιών, κάτω από το πλέγμα των τμημάτων, επιλέγουμε την επιθυμητή ημερομηνία.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Πατάμε το κουμπί "Φόρτωση παιδιών τμήματος" το οποίο δημιουγεί λίστα με τα παιδιά του τμήματος για την επιλεγμένη ημέρα.
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Αρχικά όλα τα παιδιά είναι σημειωμένα ως παρόντα. Για όποιο παιδί είναι απών ξετσεκάρουμε το μικρό πλαίσιο της στήλης "Παρών"<br />
                                    και πατάμε το κουμπί "Αποθήκευση αλλαγών". Εναλλακτικά, μπορούμε να διαγράψουμε τα απόντα παιδιά.
                                </li>
                                <li style="margin-bottom:10px">
                                    (5) Επαναλαμβάνουμε τα βήματα (1) έως (5) για κάθε τμήμα του σταθμού και ημερομηνία.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Μηνιαία παρουσιολόγια:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή εκτυπώνουμε το μηνιαίο παρουσιολόγιο παιδιών ως εξής:
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Από το πλέγμα τμημάτων επιλέγουμε ένα τμήμα με κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Στη γκρίζα γραμμή, κάτω από το πλέγμα, επιλέγουμε κάποιο μήνα και κάνουμε χρήση των κουμπιών λειτουργιών.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Ο πίνακας με τις μηνιάιες παρουσίες δημιουργείται την πρώτη φορά με το κουμπί "Δημιουργία πίνακα". Δημιουργείται τότε η λίστα<br />
                                    με τα υπολογισμένα στοιχεία και μπορούμε να εισάγουμε, σε κάποιο παιδί, κείμενο παρατηρήσεων, αν θέλουμε.
                                </li>
                                <li style="margin-bottom:10px">
                                    (4) Εάν έχουμε ήδη δημιουργήσει το μηνιαίο πίνακα και εκ των υστέρων έχουμε κάνει αλλαγές στις ημερήσιες παρουσίες, πρέπει να πατήσουμε<br />
                                    το κουμπί "Ενημέρωση πίνακα" ώστε να ενημερωθεί ο πίνακας με τα πιο πρόσφατα δεδομένα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα αυτή υπάρχουν δύο παρόμοια έντυπα που μπορούν να εκτυπωθούν. Με το κουμπί "Εκτύπωση" που βρίσκεται στη γραμμή κάθε τμήματος<br />
                                    εκτυπώνεται το έντυπο χωρίς το πεδίο "Παρατηρήσεις"
                                </li>
                                <li style="margin-bottom:10px">
                                    Με το κουμπί "Εκτύπωση", που βρίσκεται στη γκρίζα γραμμή, εκτυπώνεται το έντυπο με το πεδίο "Παρατηρήσεις". Και στις δύο περιπτώσεις, βασική<br />
                                    προϋπόθεση για την εκτύπωση είναι να έχουμε δημιουργήσει τον μηνιαίο πίνακα για κάθε τμήμα.
                                </li>
                            </ul>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 5 (Προϊόντα και Δαπάνες)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Α) Προϊόντα του σταθμού
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Καταχώρηση προϊόντων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Κάθε σταθμός έχει τη δυνατότητα να ορίσει όλα τα προϊόντα που διαχειρίζεται. Στη σελίδα "Καταχώρηση προϊόντων" υπάρχουν δύο πλέγματα:<br />
                                    Το πάνω πλέγμα περιέχει κάποιες βασικές κατηγορίες προϊόντων και το κάτω πλέγμα στο οποίο καταχωρούνται τα προϊόντα κάθε κατηγορίας.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Από το άνω πλέγμα επιλέγουμε μια κατηγορία με κλικ επάνω στην αντίστοιχη γραμμή του πλέγματος.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Στο κάτω πλέγμα πατάμε "Νέα εγγραφή" και καταχωρούμε περιγραφή του προϊόντος, μονάδα μέτρησης και την τιμή του ΦΠΑ.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Πατάμε το κουμπί "Ενημέρωση" για αποθήκευση.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα βήματα (2) και (3) για κάθε προϊόν της επιλεγμένης κατηγορίας.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα βήματα (1) έως (3) για κάθε κατηγορία προϊόντων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Εάν θέλουμε, μπορούμε να εκτυπώσουμε τη λίστα των προϊόντων με το κουμπί "Εκτύπωση" που βρίσκεται δεξιά στο πάνω μέρος της σελίδας.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Β) Δαπάνες τροφείου, καθαριότητας και γενικές ή έκτακτες
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Καταχώρηση ημερήσιων δαπανών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Οι δαπάνες διακρίνονται σε τρία είδη (τροφείο, καθαριότητα, γενικές), σύμφωνα με τον προϋπολογισμό, και κάθε είδος δαπάνης καταχωρείται<br />
                                    σε ξεχωριστή σελίδα. Ο τρόπος καταχώρησης είναι ίδιος, απλώς αλλάζουν οι διαθέσιμες λίστες προϊόντων στην κάθε σελίδα.
                                </li>
                                <li style="margin-bottom:10px">
                                    Κάθε σελίδα περιέχει τη γραμμή ημερομηνιών και το πλέγμα στο οποίο καταχωρείται η δαπάνη για κάθε προϊόν στην επιλεγμένη ημέρα.
                                </li>
                                <li style="margin-bottom:10px">
                                    (1) Για καταχώρηση δαπάνης, πατάμε "Νέα εγγραφή". Στη στήλη "Κατηγορία" επιλέγουμε την επιθυμητή οπότε η λίστα του πλαισίου "Προϊόν, μονάδες μέτρησης"<br />
                                    περιέχει μόνο τα προϊόντα της επιλεγμένης, κάθε φορά, κατηγορίας. Καταχωρούμε ποσότητα και τελική τιμή μονάδας (μετά την όποια έκπτωση και ΦΠΑ).
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Επαναλαμβάνουμε το βήμα (1) για κάθε άλλο προϊόν που δαπανήθηκε.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Συνεχίζουμε με τα βήματα (1) και (2) για κάθε άλλη ημερομηνία.
                                </li>
                                <li style="margin-bottom:10px">
                                    Η σελίδα γενικών και έκτακτων δαπανών περιέχει δύο πλέγματα. Στο άνω πλέγμα καταχωρούνται φαρμακευτικές δαπάνες ή άλλων προκαθορισμένων υλικώνν.<br />
                                    Στο κάτω πλέγμα καταχωρούμε οποιαδήποτε άλλη έκτακτη δαπάνη. Εκεί απλώς επιλέγουμε μια κατηγορία, καταχωρούμε μια περιγραφή και το ολικό κόστος της δαπάνης.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-left:20px;font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:14px;font-style:italic;font-weight:bold">
                                    ΣΗΜΕΙΩΣΗ: Στη σελίδα δαπανών "Διατροφή" υπάρχει το κουμπί "Εκτύπωση κοστολόγιου" στο οποίο προβάλλονται αναλυτικά οι δαπάνες τροφείου<br />
                                    της επιλεγμένης ημέρας μαζί με συνολικά στοιχεία σιτιζόμενων και προϋπολογισμού και υπολογισμό του υπόλοιπου που επιστρέφεται.
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Συγκεντρωτικά στοιχεία δαπανών:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στα συγκεντρωτικά στοιχεία υπάρχουν τρεις σελίδες, μια για κάθε είδος δαπάνης και μια τέταρτη όπου εμφανίζονται ενοποιημένες<br />
                                    οι γενικές και έκτακτες δαπάνες, σε περίπτωσαη που αυτό είναι επιθυμητό.
                                </li>
                                <li style="margin-bottom:10px">
                                    Σε κάθε σελίδα υπάρχει η γραμμή ημερομηνιών, όπου επιλέγουμε αρχική και τελική ημερομηνία, για να προβληθούν οι δαπάνες μεταξύ των<br />
                                    δύο επιλεγμένων ημερομηνιών.
                                </li>
                                <li style="margin-bottom:10px">
                                    Ειδικά για τις δαπάνες τροφείου προβάλλονται επίσης ο αριθμός σιτιζόμενων, το προϋπολογισμένο κόστος, το σύνολο δαπάνης και το υπόλοιπο.
                                </li>
                                <li style="margin-bottom:10px">
                                    Σε κάθε σελίδα συγκεντρωτικών δαπανών παρέχεται η δυνατότητα εκτύπωσης των συγκεντρωτικών στοιχείων από το κουμπί "Εκτύπωση" που βρίσκεται<br />
                                    στο άνω δεξιό τμήμα της σελίδας.
                                </li>
                                <li style="margin-bottom:10px">
                                    Όλα τα έντυπα δαπανών δέχονται σαν παραμέτρους το σχολικό έτος και το μήνα για να προβάλλουν τα αντίστοιχα δεδομένα.
                                </li>
                            </ul>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 6 (Διαιτολόγια)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Α) Γεύματα (πρωινό, μεσημεριανό, βρεφικό)
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Καταχώρηση γευμάτων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Πριν από την καταχώρηση διαιτολογίων πρέπει να καταχωρηθούν όλα τα διαοφρετικά γεύματα του σταθμού, ώστε αυτά να είναι<br />
                                    διαθέσιμα ως προεπιλεγμένες λίστες γευημάτων στη σελίδα διαιτολογίων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Η σελίδα γευμάτων αποτελείται από τρία πλέγματα, μέσα σε ανοιγόμενα πάνελ (1) Πρωινά γεύματα (2) Μεσημεριανά (3) Βρεφικά.
                                </li>
                                <li style="margin-bottom:10px">
                                    Για καταχώρηση, πατάμε "Νέα εγγραφή" καταχωρούμε περιγραφή του γεύματος και προαιρετικά, κάποια σχόλια αν χρειάζεται.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στα μεσημεριανά γεύματα καταχωρούνται όλες οι παραλλαγές (συνδυασμοί) ενός κυρίως γεύματος μαζί με τη σαλάτα και το επιδόρπιο.
                                </li>
                                <li style="margin-bottom:10px;font-weight:bold">
                                    Είναι υποχρεωτικό να καταχωρηθούν βρεφικά γεύματα, έστω κάποια εικονικά, και ας μην έχει ο σταθμός βρεφικά τμήματα. <br />
                                    Αν δεν γίνει αυτό, δεν ανοίγει η σελίδα διαιτολογίων και εμφανίζεται μήνυμα σφάλματος.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:medium">
                                    (Β) Ημερήσια διαιτολόγια
                                </font>
                            </span>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Καταχώρηση διαιτολογίων:
                            <ul>
                                <li style="margin-bottom:10px">
                                    (1) Στη σελίδα "Ημερήσια διαιτολόγια" πατάμε "Νέα εγγραφή" για καταχώρηση του διαιτολόγιου μιας ημέρας.
                                </li>
                                <li style="margin-bottom:10px">
                                    (2) Στο αναδυόμενο παράθυρο επιλέγουμε ημερομηνία, ένα πρωινό και μεσημεριανό γεύμα ή/και βρεφικό από τα πτυσσόμενα πλαίσια<br />
                                    που περιέχουν τα αντίστοιχα γεύματα που καταχωρήθηκαν, όπως περιγράφεται παραπάνω.
                                </li>
                                <li style="margin-bottom:10px">
                                    (3) Για αποθήκευση των δεδομένων πατάμε το κουμπί "Ενημέρωση" στο κάτω μέρος του παραθύρου.
                                </li>
                                <li style="margin-bottom:10px">
                                    Επαναλαμβάνουμε τα βήματα (1) έως (3) για κάθε άλλη ημερομηνία.
                                </li>
                                <li style="margin-bottom:10px">
                                    Με το κουμπί "Εκτύπωση διαιτολ. και δαπάνης", μπορούμε να εκτυπώσουμε το επιλεγμένο διαιτολόγιο (με κλικ στη γραμμή του πλέγματος).<br />
                                    Το εμφανιζόμενο έντυπο περιέχει το διαιτολόγιο καθώς και τα στοιχεία δαπάνης τροφείου για την ημέρα αυτή, εάν υπάρχουν.<br />
                                    Εάν δεν υπάρχουν στοιχεία δαπάνης για την ημέρα αυτή, το έντυπο είναι κενό.
                                </li>
                                <li style="margin-bottom:10px">
                                    Στη σελίδα "Ευρετήριο διαιτολογίων" μπορούμε να προβάλλουμε και να εκτυπώσουμε τα διαιτολόγια μεταξύ των δύο επιλεγμένων ημερομηνιών.<br />
                                    Αυτό είναι πιθανώς χρήσιμο για εκτύπωση του διαιτολογίου μιας εβδομάδας κ.λπ.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-left:20px;font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:14px;font-style:italic;font-weight:bold">
                                    ΣΗΜΕΙΩΣΗ: Εάν ο σταθμός δεν έχει βρεφικά τμήματα, αφήνουμε κενό το βρεφικό γεύμα στην καρτέλα διαιτολογίου.
                                </font>
                            </span>
                        </p>
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 7 (Εκτυπώσεις)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Σελίδες εκτύπωσης
                                </font>
                            </span>
                            <br />
                        <p />
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Περιγραφή:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Στις σελίδες αναθέσεων υπάρχει στο άνω μέρος της σελίδας το κουμπί "Εκτύπωση" με το οποίο μπορούμε να
                                    αποθηκεύσουμε και να εκτυπώσουμε τη λίστα (πίνακα) αναθέσεων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Η λειτουργία αυτή είναι χρήσιμη για επισύναψη του πίνακα αναθέσεων στο έγγραφο του σχολείου προς τη Διεύθυνση Α2.
                                </li>
                                <li style="margin-bottom:10px">
                                    Η σελίδα εκτύπωσης ανοίγει πάντα σε νέα καρτέλα του περιηγητή (Chrome, Firefox, κ.λπ) οπότε αφού γίνει η αποθήκευση
                                    και εκτύπωση δεν πρέπει να ξεχάσουμε να κλείσουμε την καρτέλα αυτή του περιηγητή.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif" style="margin-bottom:10px">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Δομή της σελίδας εκτύπωσης:
                            <ul>
                                <li style="margin-bottom:10px">
                                    Η σελίδα εκτύπωσης περιλαμβάνει τρεις περιοχές. Στο επάνω μέρος είναι η γραμμή εργαλείων, στο κέντρο είναι η περιοχή εμφάνισης της έκθεσης
                                    και δεξιά είναι η περιοχή παραμέτρων της έκθεσης.
                                </li>
                                <li style="margin-bottom:10px">
                                    Αρχικά η εκθεση εμφανίζεται κενή (χωρίς δεδομένα). Για προβληθούν τα δεδομένα πρέπει στην περιοχή παραμέτρων να επιλέξουμε ένα σχολικό έτος,
                                    με κλικ επάνω στη λίστα που εμφανίζεται.
                                </li>
                                <li style="margin-bottom:10px">
                                    Το επόμενο βήμα είναι να αποθηκεύσουμε την έκθεση. Στη γραμμή εργαλείων βρίσκεται ένα κουμπί με εικονίδιο νέφους. Όταν πατήσουμε το κουμπί αυτό
                                    εμφανίζεται εάν μενού επιλογών εξαγωγής της έκθεσης σε μία ή περισσότερες μορφές αρχείων.
                                </li>
                                <li style="margin-bottom:10px">
                                    Οι πλέον χρηστικές μορφές αρχείων είναι PDF, Excel, και Rich Text Format που σημαίνει μορφή αρχείου Word. Όταν πατήσουμε μια επιλογή το
                                    αρχείο μεταφορτώνεται στον υπολογιστή μας, στο φάκελο "Downloads" ή "Οι λήψεις μου".
                                </li>
                                <li style="margin-bottom:10px">
                                    Για το έγγραφο προς την Α2 συνιστάται η μορφή αρχείου Rich Text Format. Το αρχείο αυτό το ανοίγουμε με το Word και τα περιεχόμενα
                                    να τα αντιγράψουμε και να τα επικολλήσουμε στο έγγραφο ή απλά να επισυνάψουμε το αρχείο αυτό.
                                </li>
                            </ul>
                        </p>
                        <p /><p />
                    </div>
            </text>);
            items.Add().Text("ΟΔΗΓΙΕΣ 8 (Λειτουργίες πλεγμάτων)")
            .Content(@<text>
            <div style="margin-left:6px;margin-right:6px">
                        <p class="sansserif"></p>
                        <p class="sansserif" style="font-size:medium">
                            <span>
                                <font style="font-family:'Segoe UI';font-size:large">
                                    Δυνατότητες προβολής δεδομένων στα πλέγματα
                                </font>
                            </span>
                            <br />
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                            Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                            χρήσιμες δυνατότητες, οι οποίες είναι:
                            <ol>
                                <li>
                                    Ταξινόμηση
                                </li>
                                <li>
                                    Ομαδοποίηση
                                </li>
                                <li>
                                    Φίλτρα
                                </li>
                            </ol>
                        </p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                            Σελίδες πλεγμάτων
                            <ul>
                                <li>
                                    Κάθε πλέγμα, ανάλογα με το πλήθος δεδομένων (γραμμών) είναι οργανωμένο σε σελίδες.
                                </li>
                                <li>
                                    Οι αριθμοί σελίδων βρίσκονται στο κάτω μέρος του πλέγματος και με κλικ σε ένα αριθμό σελίδας γίνεται μετάβαση
                                    στη σελίδα αυτή. Με αυτό τον τρόπο μπορούμε να "ξεφυλλίζουμε" το πλέγμα.
                                </li>
                                <li>
                                    Εκτός αυτών υπάρχουν και τα κουμπιά μετάβασης στην πρώτη, τελευταία, επόμενη, προηγούμενη σελίδα.
                                </li>
                                <li>
                                    Όταν οι γραμμές μιας σελίδας δεν χωράνε στο ύψος του πλέγματος εμφανίζεται δεξιά ράβδος κύλισης με την οποία μπορούμε
                                    να δούμε όλα τα δεδομένα μιας σελίδας.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                            Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                            ταξινομήσης:
                            <ul>
                                <li>
                                    Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                                </li>
                                <li>
                                    Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                                </li>
                                <li>
                                    Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                            Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                            θα επιλέξουμε. Σε πολλές περιπτώσεις είναι μια πολύ χρήσιμη λειτουργία με την οποία μπορεί κανείς να εξάγει άμεσα κάποιες πληροφορίες*.<br />
                            Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                            <ul>
                                <li>
                                    Έστω το πλέγμα με τις αναθέσεις εκπαιδευτικών: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Ειδικότητα' τότε
                                    τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                                    να έχουμε σε μια ομάδα όλους τους οικονομολόγους, σε άλλη αυτούς της πληροφορικής κ.λπ.
                                </li>
                                <li>
                                    Έστω το πλέγμα με τα μητρώα αναθέσεων: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Σχολικό έτος' και 'Ειδικότητα'
                                    τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Σχολ. έτος, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                                    δεδομένων μέσα σε άλλη ομάδα.
                                </li>
                                <li>
                                    Τα πλέγματα, στα οποία έχει ορισθεί η δυνατότητα ομαδοποίησης εμφανίζουν επάνω από τα ονόματα στηλών μια γραμμή με το λεκτικό
                                    "Σύρετε την κεφαλίδα στήλης εδώ, για ομαδοποίηση κατά τη στήλη αυτή". Για κάποιες στήλες πλεγμάτων δεν έχει νόημα η ομαδοποίηση,
                                    οπότε αυτές δεν μπορούν να συρθούν στη γραμμή ομαδοποίησης.
                                </li>
                            </ul>
                        </p>
                        <p class="sansserif">
                            <img src="~/Images/phone/appbar.card.4.png" style="width:42px;height:42px" />
                            Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                            που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                            Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                            κεφαλίδα στήλης. Στη συνέχεια ορίζουμε το φίλτρο καιπατάμε το κουμπί "Φίλτρο". Ενδεικτικά, αναφέρουμε τέσσερα παραδείγματα:
                            <ol>
                                <li>
                                    Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                                    'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                                    έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια!)
                                </li>
                                <li>
                                    Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ειδικότητα' ως:<br />
                                    'Περιέχει' + "ΑΙΣΘΗΤ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ειδικότητα'
                                    έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή μόνο των τεχνικών αισθητικής τέχνης.
                                </li>
                                <li>
                                    Έστω το πλέγμα Μητρώου αναθέσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ώρες/εβδ' ως:<br />
                                    'Μεγαλύτερο ή ίσο με' και "18", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ώρες/εβδ'
                                    έχει τιμές με ώρες/εβδ >= 18.
                                </li>
                                <li>
                                    Έστω ένα πλέγμα με στήλη που περιλαμβάνει ημερομηνίες. Αν ορίσουμε το φίλτρο στη στήλη 'Ημερομηνία' ως:<br />
                                    'Μετά από ή ίση με' + "01/01/2016" ΚΑΙ 'Πριν από' + "04/05/2016", εμφανίζονται
                                    μόνο οι εγγραφές για τις οποίες η στήλη 'Ημερομηνία' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                                    Το αποτέλεσμα είναι η προβολή μόνο των βεβαιώσεων προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                                </li>
                                <li>
                                    Για να ακυρώσουμε ένα φίλτρο πατάμε πάλι το εικονίδιο φίλτρου στη στήλη που ορίσαμε φίλτρο και από το μενού
                                    που ανοίγει πατάμε το κουμπί "Απαλοιφή".
                                </li>
                            </ol>
                        </p>
                        <p /><br />
                    </div>
            </text>);
        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
